{% extends 'layout.html' %}
{% load static %}

{% block body %}

<div class="col-sm-9">
    <div class="main-title">
        <h2>Hi, I'm Ogungbemi Christopher Akinola!</h2>
        <p>Scroll down to see my work</p>
    </div>

    <div class="row">
        <div class="col-sm-6 img-container">
            <a href="{% url 'page1' %}">
                <h3>"TSIETSI"</h3>
            </a>
        </div>
        <div class="col-sm-6">
            <a href="{% url 'page2' %}">
                <h3>Impossible in NOTHING</h3>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 img-container">
            <a href="{% url 'page3' %}">
                <h3>"GHOST TWERKERS"</h3>
            </a>
        </div>
        <div class="col-sm-6">
            <a href="{% url 'page4' %}">
                <h3>"THE PRINCE OF SOVENGA"</h3>
            </a>
        </div>
    </div>
</div>

{% endblock %}