<!DOCTYPE html>
<html lang="en">
<head>
  <title>Ogungbemi Akinola</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>


<body>
    <div class="container-fluid">
        <div class="row content">
            <div class="col-sm-4 sidenav">
                <h3>Ogungbemi Akinola</h3>
                <ul class="nav nav-stacked">
                    <br>
                    <li class="active"><a href="#section1">"TSIETSI" - Written & Directed by Ola-Kris Akinola</a></li>
                    <li><a href="#section2">Impossible in NOTHING</a></li>
                    <li><a href="#section3">"GHOST TWERKERS" - Written & Directed by Ola-kris Akinola</a></li>
                    <li><a href="#section3">"THE PRINCE OF SOVENGA" by Ola-Kris Akinola</a></li>
                    <li><a href="#section3">Motho ke Motho ka batho!</a></li>
                </ul><br>
            </div>
        
    

            <div class="col-sm-8">
                <div class="main-title">
                    <h2>Hi, I'm Ogungbemi Akinola!</h2>
                    <p>Scroll down to see my work</p>
                </div>
            </div>
        </div>
    </div>
</body>