{% extends 'layout.html' %}
{% load static %}

{% block body %}
<div class="col-8">
    <div class="main-title">
        <h2>"THE PRINCE OF SOVENGA" by Ola-Kris Akinola</h2>
        <p> Under the powerful King Sekhurama, the erstwhile peaceful and prosperous Sovenga Kingdom suddenly, in spite of the arrival of the much expected Prince, 
           finds itself in a dilemma. The new born Prince must be sacrificed to put away a predicted calamity in the lnd. In a twist, the King defies the gods and 
           their messenger and choses to sacrifice his wives. What follows is a manipulation of the fate of Sovenga’s Oedipus Rex.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-sm-6" style="background-color:yellow;">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br>
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </div>
    <div class="col-sm-6" style="background-color:pink;">
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto.    
    </div>
</div>
{% endblock %}